.l-services{
  padding: $block-padding;
}

.l-services .service-item {
  padding: 0 1rem;
  margin-bottom: 4rem;
  font-size: 1.125rem;
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
}