.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/sprites/svg/sprite.svg");
      background-repeat: no-repeat;
      background-size: 90em 90em;

      .no-svg & {
        background-image: url("../svg/sprite.png");
      }
    }
}




.icon.access-round-icon {
  &:before {
      background-position: 0em 0em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-access-round-icon(){
    @extend .access-round-icon;
  }


.icon.close-btn {
  &:before {
      background-position: -10em -10em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-close-btn(){
    @extend .close-btn;
  }


.icon.f-btn {
  &:before {
      background-position: -20em -20em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-f-btn(){
    @extend .f-btn;
  }


.icon.hum-btn {
  &:before {
      background-position: -30em -30em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-hum-btn(){
    @extend .hum-btn;
  }


.icon.sertif-round-icon {
  &:before {
      background-position: -40em -40em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-sertif-round-icon(){
    @extend .sertif-round-icon;
  }


.icon.tools-round-icon {
  &:before {
      background-position: -50em -50em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-tools-round-icon(){
    @extend .tools-round-icon;
  }


.icon.tw-btn {
  &:before {
      background-position: -60em -60em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-tw-btn(){
    @extend .tw-btn;
  }


.icon.wach-round-icon {
  &:before {
      background-position: -70em -70em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-wach-round-icon(){
    @extend .wach-round-icon;
  }


.icon.water-round-icon {
  &:before {
      background-position: -80em -80em;
      width: 10em;
      height: 10em;
    }
  }

  @mixin icon-water-round-icon(){
    @extend .water-round-icon;
  }



